@media (max-width: 640px) {
    .profile {
        width: 100%;
    }
    .main-section {
        flex-flow: column;
        align-items: center;
    }
    .section {
        padding: 5px 10px;
    }

    .main-article {
        &__title {
            font-size: 10px;
        }
    }
}