/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*плавная загрузка страниц*/
body.fade{
    opacity: 0;
  }
body.appear {
    opacity: 1;
    transition: opacity 3s;
  }
.main-section.appear{

  }
  

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.contacts__place, .purchase-offers, .section-photos__column, .section-photos__list, .advantages__item, .advantages__column, .advantages__list, .about-section, .main-section {
  display: flex;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.profile {
  width: 1280px;
  margin: 0 auto;
  font-size: 2rem;
}

.section {
  padding: 50px 50px 50px 50px;
}
.section_black {
  background-color: #445161;
}


/*======================================== Main section ===========================================*/
.main-section {
  flex-flow: row;
  justify-content: space-between;
}

.main-article__title {
  font-size: 60px;
  margin-bottom: 50px;
}
.main-article__list {
  font-size: 20px;
}
.main-article__item {
  margin-bottom: 10px;
  transition: all 1s;
}
.main-article__item::before {
  content: url("../assets/check_icon.png");
  margin-right: 10px;
}
.main-article_white {
  color: white;
}

/* -----------------------------End main-section----------------------------------- */
/* =============================Article about====================================== */
.about-section {
  flex-flow: row;
  justify-content: space-between;
}
.about-section_img {
  width: 30%;
}

.article-about {
  width: 60%;
}
.article-about__title {
  margin-bottom: 40px;
  font-size: 30px;
}
.article-about__title_grey {
  color: #445161;
}
.article-about__item {
  line-height: 25px;
  margin-right: 20px;
  margin-bottom: 10px;
}

/* -----------------------------End article about */
/* =============================Advantages=============================================== */
.advantages__list {
  flex-flow: row;
}
.advantages__column {
  flex-flow: column;
  margin-left: 20px;
}
.advantages__title {
  margin-bottom: 40px;
  font-size: 30px;
}
.advantages__title_center {
  text-align: center;
}
.advantages__item {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 20px;
  flex-flow: row;
}
.advantages__item_tab {
  padding-left: 5px;
}
.advantages__item_size {
  height: 30px;
}
.advantages_grey {
  background-color: #f5f5f5;
}

/* ==================================End advantages================================= */
/* -----------------------------------Photos----------------------------------------- */
.section-photos__list {
  flex-flow: row;
}
.section-photos__column {
  flex-flow: column;
  margin-left: 20px;
}
.section-photos__title {
  font-size: 24px;
  color: #445161;
  margin-bottom: 15px;
}
.section-photos_tab {
  margin-left: 20px;
}
.section-photos_size {
  height: 80px;
}

.section-review_grey {
  background-color: lightgray;
  border-radius: 5px;
}

/* -------------------------------End photos------------------------------------------ */
/* -------------------------------Purchase------------------------------------------- */
.purchase {
  padding: 100px;
}
.purchase__title {
  font-size: 30px;
}

.purchase-offers {
  flex-flow: row;
}
.purchase-offers__title {
  text-align: center;
  color: white;
  font-size: 24px;
  padding: 19px 0;
}
.purchase-offers__dollar {
  padding: 10px 0;
  text-align: center;
  background-color: white;
  font-size: 40px;
  color: #445161;
}
.purchase-offers__item {
  width: 300px;
  margin-right: 40px;
  border: 2px;
  border-style: solid;
  border-color: #445161;
}
.purchase-offers__standart {
  height: 300px;
  margin-top: 300px;
}
.purchase-offers__premium {
  height: 400px;
  margin-top: 200px;
}
.purchase-offers__lux {
  height: 500px;
  margin-top: 100px;
}
.purchase-offers__list {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 25px;
}
.purchase-offers__button {
  margin-top: 10px;
  margin-left: 20px;
  width: 260px;
  height: 40px;
  color: #445161;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

/* -------------------------------End purchase--------------------------------------- */
/* --------------------------------Contacts------------------------------------------- */
.contact-form {
  margin-left: 250px;
  width: 500px;
}
.contact-form__name {
  width: 500px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.contact-form__text {
  width: 500px;
  height: 150px;
  border-radius: 5px;
}
.contact-form__button {
  margin: 20px 170px 50px 170px;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  color: #445161;
  font-weight: bold;
}

.contacts__place {
  flex-flow: row;
}
.contacts__title {
  padding-top: 50px;
}

.contacts-info {
  margin-left: 45px;
  line-height: 40px;
}
.contacts-info__skype::before {
  content: url("../assets/skype.png");
  padding-right: 5px;
}
.contacts-info__icq::before {
  content: url("../assets/icq.png");
  padding-right: 5px;
}
.contacts-info__email::before {
  content: url("../assets/email.png");
  padding-right: 5px;
}
.contacts-info__phone::before {
  content: url("../assets/phone.png");
  padding-right: 5px;
}

/* --------------------------------End contacts---------------------------------------- */
/* -------------------------------Footer------------------------------------------- */
.footer-text {
  font-size: 12px;
  color: #445161;
  text-align: center;
  padding: 19px 0;
}

/* ------------------------------End footer----------------------------------------- */
@media screen and (max-device-width: 640px) {
  .profile {
    width: 50%;
  }

  .section {
    padding: 5px 10px;
  }

  .main-section {
    width: 100%;
    flex-flow: column;
  }

  .main-article__title {
    font-size: 30px;
  }
  .main-article__list {
    font-size: 10px;
  }

  .about-section {
    flex-flow: column;
  }

  .article-about {
    width: 100%;
    font-size: 12px;
  }

  .advantages__list {
    flex-flow: column;
  }
  .advantages__item {
    flex-flow: column;
  }

  .section-photos__list {
    flex-flow: column;
  }

  .purchase-offers {
    margin-left: 90px;
    flex-flow: column;
  }
  .purchase-offers__standart {
    margin-top: 100px;
  }
  .purchase-offers__premium {
    margin-top: 100px;
  }
  .purchase-offers__lux {
    margin-bottom: 100px;
  }

  .contacts__place {
    flex-flow: column;
  }

  .contact-form {
    margin-left: 0px;
  }
}

/*# sourceMappingURL=app.css.map */

.slider {
  width: 300px;
  position: relative;
  border: 1px solid #9c6;
  margin: 100px auto;
  overflow: hidden;
}

.slider__line {
  position: relative;
  height: 190px;
  overflow: hidden;
  left: 0;
  transition: all ease 1s;
}

.section__img {
  float: left;
  width: 300px;
}

.arrow-right {
  height: 20px;
  margin: auto;
}

.main-article_hide {
  opacity: 0;
  /* overflow: hidden; */
  transition: all ease 2s;
}

.main-article_show {
  opacity: 1;
  /* overflow: hidden; */
  transition: all ease 2s;
}

.link {
  float: right; 
  margin-right: 50px; 
  font-size: 20px; 
  font-weight: 700;
}